body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
}

.clock {
  width: 200px;
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
}

.hours {
  font-size: 30px;
}
